@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body{
  margin:  0 auto;
  width: 100%;
background-color: whitesmoke;
}

.container-main{
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;

}
header{
	width: 100%;
	padding: 0% 10%;
	background-color: #335e82;
	color: whitesmoke;
	box-sizing: border-box;
}

.idiomas{
	display: flex;
	flex-direction: row;
	padding: 1% 10%;
	justify-content: right;
	align-items: center;
	font-size: 0.9rem;
}

.idiomas img{
	position: relative;
	width: 20px;
	margin-left: 25px;
	align-self: flex-start;

}

.logo{
	width: 40%;
	min-width: 150px;
	object-fit: contain;
}

.capa{
  width: 100%;
  background-image: url(img/07.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: whitesmoke;
  min-height: 450px;
  font-size: 2rem;
  
}

.capa-black{
  width: 100%;
  /*height: 100%;*/
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  padding: 0% 10%;
}

.capa-black h1{
  color: #ffda00;
  font-size: 4rem;
}

.texto{
  width: 100%;
  padding: 1% 10%;
  box-sizing: border-box;
  color: #676767;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.texto h2{
  text-align: center;
  margin-top: 80px;
}

footer{
	display:flex;
	width:100%;
	background-color:steelblue;
	color:whitesmoke;
	position: relative;
	bottom:0;
  padding: 3% 10%;
  box-sizing: border-box;
  justify-content: center;

}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: steelblue;
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 150px;
  padding: 1% 10%;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  
  width: 100px;
  text-align: center;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 40px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 930px) {
  
.capa-black h1{
 
  font-size: 3rem;
}

  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 130px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
