@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
	width: 100%;
	margin: auto;
	background-color: #f0f0f0;
	font-family: Roboto, sans-serif;

}

a{
	cursor: pointer;
}

header{
	width: 100%;
	padding:0% 5%;
	background-color: white;
	box-sizing: border-box;
}

.topo{
	display: flex;
justify-content: right;
padding: 5px 0px;
font-size: 0.8rem;
align-content: center;
}

.topo img{
	height: 15px;
	margin-left: 15px;
}

.topobaixo, footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
}

.topobaixo img,  footer img{
	width: 20%;
	max-width: 150px;
	height: auto;

}

.topobaixo a img{
	width: 100%;
}

.menulinks{
	display: flex;
	width: 65%;
	justify-content: space-between;
	
}

.menulinks a{
	text-decoration: none;
	color: initial;
}

.menulinks a:hover{
	color: red;
	text-decoration: underline;
}

.bannermain{
	width: 100%;
	display: flex;
	/*padding: 0% 5%;*/
	box-sizing: border-box;
	
	height: 400px;
	
}

.imgbanner{

	width: 100%;
	background-image: url("img/bannerhome-reverse.jpg");
	background-position: 50% 50%;
	object-fit: scale-down;
	padding: 0% 5%;
	
	
}

.pag-miet{
	width: 100%;
	background-image: url("img/banner-rentalmanagement-big.jpg");
	object-fit: fill;
	background-position: 0% 35%;
	background-repeat: no-repeat;
	padding: 0% 5%;

}

.pag-kontakt{
	width: 100%;
	background-image: url("img/kontakt-big.jpg");
	object-fit: fill;
	background-position: 0% 35%;
	background-repeat: no-repeat;
	padding: 0% 5%;

}


.maintext{
	padding: 0% 10%;
	box-sizing: border-box;
	font-size: 1.4rem;
	line-height: 2rem;
	margin-top: 60px;
}

.maintext-kontakt{
	padding: 0% 10%;
	box-sizing: border-box;
	font-size: 1.4rem;
	line-height: 2rem;
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.kontakt-text{
	display: flex;
	flex-direction: column;
	align-items: start;
}

.kontakt-form{
	flex-basis: 120%;
	
}

.kontakt-form input, .kontakt-form textarea{
	width: 80%;
	border: 1px solid #acacac;
}

.kontakt-form button{
	width: 80%;
	background-color: #232739;
	color: #f0f0f0 ;
	padding: 10px;
	border-radius: 5px;
	border: none;
}


.maintext h3{
	color: #232739;
	text-decoration: underline;
	margin-top: 60px;
}

.maintext li{
	margin-bottom: 1.2rem;
}

.bannertext{
	background-color: rgba(255, 255, 255, 0.8);
	width: 50%;
	padding:15px 25px;
	position: relative;
	top: 200px;
}

.bannertext h1{
	margin: 0;
	font-weight: 400;
	color: #383e46;
}

footer{
	display: flex;
	flex-direction: column;
	background-color: #37474f;
	color: #f0f0f0;
	padding: 2% 5%;
	position: relative;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	height: 200px;
	align-items: center;
	justify-content: center;
	margin-top: 60px;
}

footer .menulinks a{
color: #f0f0f0;
margin: 0;
}

footer .menulinks a:hover{
	color: orange;
}

.mietverwaltung, .immobilienberatung{
	width: 100%;
	padding: 0% 5%;
	box-sizing: border-box;
	
	display: flex;
	flex-direction: row;
	gap: 40px;
	margin-top: 60px;
	align-items: start;
}

.mietverwaltung button, .immobilienberatung button{
	color: #232739;
	padding: 10px 15px;
	font-size: 1.6rem;
	border-radius: 5px;
	border: 1px solid #232739;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.2);
}

.mietverwaltung button:hover, .immobilienberatung button:hover{
	background-color: #232739;
	color: #f0f0f0;
}

/*.index-category-text, .index-category-banner{
	width: 50%;
}*/

.index-category-text{
	flex-basis: 40%;
}

.index-category-text h2{
	color: #262739;
	font-size: 2.6rem;
}

.index-category-text p{
	color: #232323;
	font-size: 1.3rem;
	line-height: 1.8rem;
}

.index-category-banner{
	flex-basis: 60%;
	border-radius: 15px;
}

.index-category-banner img{
	width: 100%;
	object-fit: contain;
	border-radius: 15px;
}


@media screen and (max-width: 650px)
{

	body{
		width: 100%;
		margin: auto;
	}
	.menulinks{
		flex-direction: column;
	}

	.mietverwaltung{
		flex-direction: column-reverse;
		padding: 0;
	}

	.immobilienberatung{
		flex-direction: column;
		padding: 0;
	}

	.bannertext{
		top: 100px;
		width: 60%;
	}

	.maintext-kontakt{
		flex-direction: column;
		box-sizing: border-box;
	}

	.pag-kontakt .bannertext{
	width: 70%;
}
.topo{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 80%;
}
.topo img{
	width: 25px;
	height: auto;
	margin: 10px 0px;
}
}